Lab5/WcfClient/Connected Services/Tick/tick22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://25.43.220.53:10001/tick?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCallbackServiceContract.APIConnection" />
  <xs:element name="GetResultSummaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summariesAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultSummariesResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCallbackServiceContract.APIConnection" minOccurs="0" name="summaries" nillable="true" type="q1:ArrayOfResultSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondCurrency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTickResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfCallbackServiceContract.APIConnection" minOccurs="0" name="tick" nillable="true" type="q2:CurrencyTick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>