WCFService/WcfServiceClient/Connected Services/ServiceReference/mojkalkulator21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.APIConnection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.APIConnection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://25.44.47.26:5001/mojkalkulator?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="CurrencyTick">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyTick" nillable="true" type="tns:CurrencyTick" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ask" type="xs:float" />
      <xs:element minOccurs="0" name="Bid" type="xs:float" />
      <xs:element minOccurs="0" name="Last" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfResultSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultSummary" nillable="true" type="tns:ResultSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultSummary" nillable="true" type="tns:ArrayOfResultSummary" />
  <xs:complexType name="ResultSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ask" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BaseVolume" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Bid" nillable="true" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Created" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="DisplayMarketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="High" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Last" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Low" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MarketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenBuyOrders" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OpenSellOrders" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrevDay" nillable="true" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="TimeStamp" type="q2:DateTimeOffset" />
      <xs:element minOccurs="0" name="Volume" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultSummary" nillable="true" type="tns:ResultSummary" />
</xs:schema>